{% extends "layout.html" %}


{% block main %}
    <div>
        <h2 class="fs-2">Dashboard</h2>
        <table class="table">
            <thead>
                <tr >
                    <th>Stock Symbol</th>
                    <th>Stock Weighted Average Price</th>
                    <th>Closing Price</th>
                    <th>Highest Price</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in result %}
                <tr>
                    <td>{{ stock.T }}</td>
                    <td>{{ stock.vw}}</td>
                    <td>{{ stock.c}}</td>
                    <td>{{ stock.h}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
